<div>
	<div *ngIf="matches" class="p-d-flex match-list">
		<div>
			<div *ngFor="let m of matches" class="match-container">
				<div class="p-d-flex p-jc-between">
					<div class="p-d-flex p-flex-column">
						<div class="p-d-flex p-ai-center">
							<img
								[src]='"https://res.cloudinary.com/wksmuchoborwroclaw/image/upload/c_thumb,h_24,w_24/v1622835272/"+m.homeTeam.crestUrl' />
							<span class="p-ml-2">{{ m.homeTeam.name }}</span>
						</div>
						<div class="p-d-flex p-ai-center">
							<img
								[src]='"https://res.cloudinary.com/wksmuchoborwroclaw/image/upload/c_thumb,h_24,w_24/v1622835272/"+m.awayTeam.crestUrl' />
							<span class="p-ml-2">{{ m.awayTeam.name }}</span>
						</div>
					</div>
					<div class="p-d-flex p-flex-column p-jc-evenly text-center">
						<span>{{ m.matchDateTime | date: 'EEE, dd MMM' }}</span>
						<span>{{ m.matchDateTime | date: 'HH:mm' }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <p-progressSpinner *ngIf="isLoading"></p-progressSpinner> -->
</div>
