/* You can add global styles to this file, and also import other style files */

html {
    font-family: arial,sans-serif;
}

body {
	background-color: #f8f9fa;
}

.content {
	background-color: white;
	padding: 20px;
	max-width: 768px;
	margin: auto;
}

  .text-center {
	  text-align: center;
  }
